body {
  background-color: #a3d5d3;
}
.btn2-m, .btn3-m{
  display: none;
}
.i{
  width: 350px;
  height:350px;
  border-radius: 50%;
  background-image: url(./assets/x6HIrmgtZ_c.jpg);
  background-size: cover;
}
.content{
margin: 0 auto;
max-width:1024px;
}
.about{
  display: flex;
  justify-content:space-between;
  max-width:700px;
  align-items:center;
}
.links{
  display: flex;
  justify-content:space-around;
  align-items: center;
}
.links a{
  text-decoration:none;
  display:block;
}
.name{
  font-weight:bold;
  font-size: 32px;
}
.github{
  text-align:center;
}
.github a{
  text-decoration:none;
  display:block;
}
.panel{
  margin-top: 50px;
  text-align: center;
}
.navbar {
  line-height: 50px;
   height: 50px;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}
.menu ul {
  margin: 0;
  list-style: none;
  padding-left: 20px;
  display: none;
  background-color: aquamarine;
}
.menu .title {
  font-size: 18px;
  cursor: pointer;
  color: #ffffff;
}
.menu .title::before {
  content: '▶ ';
  font-size: 80%;
  color: green;
}
.menu.open .title::before {
  content: '▼ ';
}
.menu.open ul {
  display: block;
}
.discription2{
  display: none;
}
.menu2 ul {
  margin: 0;
  list-style: none;
  padding-left: 20px;
  display: none;
  background-color: aquamarine;
}
.menu2 li, .menu3 li{
  font-size: 14px;
}
.menu2 .title2 {
  font-size: 16px;
  cursor: pointer;
}
.menu2 .title2::before {
  content: '▶ ';
  font-size: 80%;
  color: green;
}
.menu2.open .title2::before {
  content: '▼ ';
}
.menu2.open ul {
  display: block;
}
.menu3 ul {
  margin: 0;
  list-style: none;
  padding-left: 20px;
  display: none;
  background-color: aquamarine;
}
.menu3 .title3 {
  font-size: 16px;
  cursor: pointer;
}
.menu3 .title3::before {
  content: '▶ ';
  font-size: 80%;
  color: green;
}
.menu3.open .title3::before {
  content: '▼ ';
}
.menu3.open ul {
  display: block;
}
.show {
    display: block;
}
.portfolio{
  font-size: 18px;
  width:100%;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
  color:white;
  text-align:center;
  margin-top:150px;
  height:50px;
  line-height:50px;
}
.btn1{
  width:220px;
  height:50px;
  line-height:50px;
   color: white;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: .5em 2em;
  outline: none;
  border: 2px solid;
  border-radius: 1px;
  transition: 0.2s;
  margin-top: 40px;
}
.maket{
  width:250px;
  height:300px;
}
.maket img{
  width:250px !important;
  height:300px !important;
}
.maket a{
  text-decoration:none;
  display:block;
}
.slide-element{
  display:flex !important;
  justify-content:space-around;
}
.discription p{
  font-family: Arial, Helvetica, sans-serif;
}
.discription h4{
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
  background-color:red;
}

.slider{
margin-top: 150px;
width: 100%;
height: 100%;
margin-bottom: 100px;
}
.slider img{
width: 392px;
height: 483px;
}
.slick-prev{
    left: 5px !important;
    z-index: 1;
}
.slick-next{
    right: 25px!important;;
    z-index: 1;
}
.slick-prev:before, .slick-next:before {
    font-size: 45px !important;
   color:  #71f6eb !important;
}

@media screen and (max-width: 725px){
  .about{
    justify-content:center;
    flex-wrap:wrap;
  }

  .dropdown .dropbtn {
      margin-left: 150px ;
  }
  .dropdown-content {
    left:23%;
  }
  .btn1{
    width:120px;
    font-size:8px;
  }
  .maket{
    width:150px;
    height:200px;
  }
  .discription p{
    font-size:15px;
  }
  .slick-prev{
    display: none !important;
}
.slick-next{
  display: none !important;
}
.block{
  display: none;
}
.discription2{
  display: block;
}
  }